button
{
  background-color: #361974;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
button:hover
{
  background-color: #30156f;
  transition: 2s;
  cursor : pointer;

}

h2{

}

.img{
  width:150px;
  height:150px;
}
